body {
  background: #7f8c8d;
  font: 18px sans-serif;
}

#task {
  margin: 20px 50px;
  border: 2px solid white;
  padding: 10px 20px;
  width: 50%;
}

#mistake {
  margin: 5px 0 0 57px;
}

table {
  color: black;
  border-collapse: collapse;
  margin-bottom: 10px;
}

th {
  background: #fadcdc;
  border: 2px solid black;
  height: 35px;
  font: bold 20px serif;
}

 td {
  background: white;
  border: 2px solid black;
  text-align: center;
  width: 60px;
  height: 35px;
  font: bold 20px serif;
}